*{
    margin: 0;
    padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

body {
    background:"..img/header/beckground.png"; 
   }


header{
	height:150px;
	margin: 1px 1px 1px 1px;
	padding: 20px 1px 1px 1px;
}

#logo a {
    padding-top:0px;
	margin-left: 40px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	font-size: 56px;
	text-shadow: 0 1px 0 white;
	color:#a32896;
}
   nav {
    padding-right: 400px;
    padding-top: 100px;
    overflow: hidden;
    float: right;

}

nav li {
	float:left;
	list-style: none;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 30px;
	color: #143567;
	text-shadow: 0 1px 0 white;
}

nav li a:hover {
	color: #de0202;
}


}

figure{
    padding-top: 50px;
}

table, td, th{
    border:1px solid gray;
}

footer{
    margin-top: 20px;
    line-height: 1.5;
	padding: 30px;
}

footer li{
    list-style: none;
}