* {
	margin: 0;
	padding: 0;
}body {
    background-color: #f8efe7
}
header {
    color:purple;
    height: 450px;
    background-image: url("../img/header/background2.png");
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: 100% 150%;
}
#in_header {
     text-align: center;
     text-shadow:grey 1px 1px 0, grey -1px -1px 0, 
                 grey -1px 1px 0, grey 1px -1px 0;
    font-size: 1.4em;
    margin-top: -55px;
 }
nav { 
	overflow: hidden;
	float: right;
}
nav li {
	float:left;
	list-style: none;
}
nav li a {
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 15px;
	color: white;
	}
#logo {
    font-size: 25px
}
.button {
    height: 45px;
    width: 200px;
    margin-left: 1100px;
    margin-top: -500px;
    color: purple;
}
#portfolio {
    text-align: center;
}
#info, #gallery {
    color: white;
}
section {
    text-align: center;
}
h2 {
    font-size: 40px;
    
    
}
*{
    margin: 0;
    padding: 0;
}
#info, #gallery {
    color: white;
}
section {
    text-align: center;
}
info, #gallery {
    color: white;
}
section {
    text-align: center;
}